:root{
  --section-overlay: rgba(0,0,0,0.7);
  --background-overlay:rgba(0, 0, 0, 0.2);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.overlay{
  width: 100%;
  height: 100vh;
  background-color: var(--background-overlay);
    backdrop-filter: blur(3px);
}

.container{
  max-width:800px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}

/*TOP*/

.section{
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  color: white;
}

.section__inputs, .section__temperature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section-overlay);
}

.section__inputs>input {
border:0.8 px solid white;
border-radius: 0.4rem;
background-color: transparent;
color: white;
padding: 0.5rem;
font-size: 20px;
font-weight: 200;
}

.section__inputs>input:focus {
  outline :none;
}

.section__inputs>button{
  padding: 10px 15px;
  border: none;
  border-radius: 0.4rem;
  font-size: 15px;
  font-weight: 400;
  background-color: rgba(176, 169, 169, 0.848);
}

.section__inputs>button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.section__inputs>.search-button {
  padding: 8px 20px;
  /* Adjust padding values for smaller button */
  border: none;
  border-radius: 0.4rem;
  font-size: 16px;
  /* Decrease font size for smaller button */
  font-weight: 500;
  background: transparent;
  margin-left: -60%;
 
  /* Add margin to create space between input and button */
}

.section__inputs>.search-button:hover {
  cursor: pointer;
  background:transparent;
  transform: scale(1.2);
}


.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon>h3 {
  font-size: 15px;
  font-weight: 200;
  text-transform: capitalize;
}

.temperature>h1 {
  font-size: 60px;
}


.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;

}

.error-message>p {
  margin-bottom: 30px;
}

.error-message>button {
  background-color: #888;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);

}

.error-message>button:hover {
  background-color: #fff;
  /* White background on hover */
  color: #333;
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

}

.section__inputs>.temperature-unit-button.active {
  background-color: white;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .overlay {
      width: 100%;
      height: 100vh;     
    }
  
    .container {
      max-width: 300px;
      margin: auto;
      height: 650px;
      grid-template-columns: 1fr 1fr;
     
    }
  
    /*TOP*/
  
    .section {
      width: 90%;
      padding: 1rem;
      border-radius: 0.4rem;
      justify-content: center;
    }
  
    .section__inputs,
    .section__temperature {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--section-overlay);
    }
  
    .section__inputs>input {
      color: white;
      padding: 0.5rem;
      font-size: 12px;
      font-weight: 100;
      width: 125px;
    }
  

  
    .section__inputs>button {
      padding: 4px 4px;
      font-size: 11px;
      font-weight: 400;
    }
  
   
  
    .section__inputs>.search-button {
      padding: 6px 15px;
      font-size: 12px;
      font-weight: 500;
      margin-left: -50%;

    }
  
  
    .icon>h3 {
      font-size: 12px;
      font-weight: 200;
    }
  
    .temperature>h1 {
      font-size: 30px;
    }
        .error-message {
          position: absolute;
          top: 50%;
          left: 50%;
          height: auto;
          width:80%;
        }
    
        .error-message>p {
          margin-bottom: 30px;
        }
    
        .error-message>button {
          background-color: #888;
          color: #fff;
          border: none;
          padding: 15px 30px;
          border-radius: 8px;
          cursor: pointer;
          transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    
        }
    

    
      
}